.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2.5rem 0;
}

.profile-image-container {
  width: 6rem;
  height: 6rem;

  border-radius: 50%;
  overflow: hidden;
}

.profile-image {
  height: 100%;
  position: relative;
  left: -50%;
}

.profile-user {
  font-size: 1.4rem;
  color: var(--white);
}
