<div class="card-container">
  <img
    src="../../../assets/images/efa95d51-36ed-40d7-ba24-4db64958cd20.png"
    alt=""
    class="card-image"
  />
  <h3 class="card-title">Giuda callentau</h3>
  <p class="card-text">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium
    quisquam fuga odit aut nisi laborum consectetur tempore quas, aspernatur
    veritatis assumenda ratione autem provident suscipit quae sapiente
    blanditiis. Eveniet, ipsam.
  </p>
  <p class="card-price"></p>
  <p class="card-weight"></p>
  <app-dynamic-button [btnType]="'circle'"></app-dynamic-button>
</div>
