.circle-button {
  width: 3rem;
  height: 3rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circle-button mat-icon {
  transform: scale(0.7);
}

.std-button {
  width: 10rem;
  padding: 0.9rem 3rem;
  border-radius: 3rem;
  font-size: 1rem;
  background-color: white;
  color: black;
  text-align: center;
}

.custom-button {
  display: flex;
  border-radius: 3rem;
  align-items: center;
}

.custom-button .circle-button {
  position: absolute;
  z-index: 1;
}

.custom-button .std-button {
  padding-left: 4.5rem;
  width: 11rem;
  text-align: left;
  z-index: 0;
}
