.circle-button {
  width: 3rem;
  height: 3rem;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.circle-button mat-icon {
  transform: scale(0.7);
}
